.organisation
  h3.org-name= name
  blockquote
    | Website: 
    = url
    
  //- languages: English, Español, Français, Deutsch, Português, Русский, العربية, Tagalog
  //- services: grants_funding, in_person_training, org_security, web_protection, digital_support, assessment, secure_comms, device_security, vulnerabilities_malware, social_media, harassment, forensic
  //- hours: 24/7, global
  //- response_time: 2 hours
  //- contact_methods: web, email, pgp, 
  //- email: help@accessnow.org
  //- pgp_key_fingerprint: 6CE6 221C 98EC F399 A04C 41B8 C46B ED33 32E8 A2BC
  //- initial_intake: yes

  p 
    != contents
