extends html

block main
  .post
    if permalink.split('_').reverse()[0] !== 'end'
      header.post-header
        h1.post-title= description
      article.post-content
        ul
          each answer in list
            li
              a(href=answer.href.replace('#', '../'))= answer.title
    else
      != contents

  include includes/links
